---
---

@import "{{ site.theme }}";

.wrapper{
    position: relative;
    right: 4.25%;
    width: 50%;
    margin: 0 auto;
}

section {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }